*{
    margin: 0px;
    border: 0px;
}


.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.dancing-script-shape {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
  
    font-style: normal;
  }


/* header area */
.header{
    max-width: 100%;
    border: 1px rgb(0, 0, 0) solid;
    height: 610px;
    background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(13,13,13,0.9528186274509804) 50%, rgba(0,0,0,1) 100%);;
    
}
.nav{
    width: 100%;
    margin: 0px auto;
    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
 
    
}
.nav h3{
    margin-left: 80px;
}
.nav-content{
    width: 350px;
    height: 46px;
    display: flex;
    gap: 35px;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    box-sizing: border-box;
    padding: 2px;
    color: rgb(255, 255, 255);
    font-size: 10px;
   
    margin-right: 50px;
    justify-content:flex-start;
    align-items: center;
}
.nav-content button{
    border-radius: 46px;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
  
    font-style: normal;
}


/* head-body */


.head-body{
    
 display: flex;
 justify-content: space-around;
 margin-top: 40px;
 
}
.content{
    width:50%;
    margin-top: 70px;
  
    margin-left: 70px;
}
.content h1{
    font-size: 55px;
    color: white;
}
.content p{
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
}
.btn{
    margin-top: 25px;
}
.btn1{
    width: 170px;
    height: 45px;
    padding: 10px 16px 10px 16px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
}
.btn2{
    width: 170px;
    height: 45px;
    padding: 10px 16px 10px 16px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.534);
}
.img{
    position: relative;
   
    width: 50%;
    margin-left: 200px;
}
.P500{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: white;
    
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: 60px;
    top: 280px;
    padding: 8px;
}
.P350{
    width: 150px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: white;
    
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: 270px;
    top: 510px;
    padding: 8px;
    display: flex;
    gap: 9px;
}




/* habit part */
.main{
    background-color: black;
    border: 1px solid black;
}
.habit{
    width: 80%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.habit-content{
    text-align: center;
   
    
    
}
.habit-content h1{
    color: white;
}
.habit-content p{
   color: rgba(255, 255, 255, 0.5);
   margin-top: 10px;
   font-size: 12px;
}
.habit-img{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.habit-img img{
    border-radius: 50%;
    border: 1px solid rgb(66, 66, 66);
    box-shadow: 0px 0px 5px rgb(85, 84, 84);
}
.habit-img h1{
    color: rgb(255, 255, 255);
    font-size: 14px;
    
}
.habit-img p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    text-align: center;
}
.habit-img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Run  */

.run{
    width: 80%;
    height: 371px;
    margin: 0px auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 120px;
}

.run-container{
    width: 100%;
    height: 371px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   

}
.run-content{
    width: 50%;
    
}
.run-content h1{
    color: rgb(255, 255, 255);
    
}
.run-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-top: 30px;
}
.run-content button{
    border-radius: 42px;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 12px;
}
.run-img{
    
    justify-content: center;
}
.run-img img{
    width: 350px;
    border-radius: 30px;
    
}


/* BMI  */

.BMI{
    margin: 0px auto;
    margin-top: 130px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap: 20px;
    
}
.BMI h1{
    color: white;
    text-align:start;
}
.BMI p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.BMI-Calculator{
    width: 100%;
    background: rgb(34, 34, 34); 
    height: 500px;   
    margin-top: 100px;
     
}
.BMI-Cal{
    margin: 0px auto;
    
 
    width: 80%;
    height: 100%;

    background: rgb(34, 34, 34);
    display: flex;
   
    justify-content:space-between;
    align-items: center;
   
   


}
.bmi-table{
    color: white;
    display: flex;
    flex-direction: column;
    
    width: 30%;
    justify-content: center;
    align-items: center;
   
    
   
   
    
}
.bmi-table h1{
    font-size: 24px;
    
}
.table{
    margin-top: 50px;
}
.bmi-table table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.185);

    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.445);
    font-size: 16px;
    text-align: center;

    
}
.bmi-input{
 
    width: 60%;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.bmi-input h1{
    color: white;
    font-size: 24px;
    
    }

.bmi-input p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
  

}
.bmi-data{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
    gap: 10px;
    height: 100%;
   

}
.input{
    grid-column: 1/ span 2;
   
}

.food{
    width: 80%;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    
}
.diet{
    text-align: center;
   
    
    
}
.diet h1{
    color: white;
}
.diet p{
   color: rgba(255, 255, 255, 0.5);
   margin-top: 10px;
   font-size: 12px;
}
.diet-img{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    gap: 30px;
}
.diet-img img{
    border-radius: 50%;
    border: 1px solid rgb(66, 66, 66);
    box-shadow: 0px 0px 5px rgb(85, 84, 84);
    width: 180px;
    height: 180px;
}
.diet-img h1{
    color: rgb(255, 255, 255);
    font-size: 14px;
    
}
.diet-img p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    text-align: center;
}
.diet-img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* team  */
.team{
    margin: 0px auto;
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 20px;
}
.team h1{
    color: white;
    
}
.team p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    text-align: center;
}
.team-member{
    margin: 0px auto;
    margin-top: 50px;
    width: 60%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    gap: 40px;
    
  
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
   
}

.team-member img{
   
    padding: 15px;
    border-radius: 20px; 
   
   
}
.trainer1{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer1.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 18px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.trainer2{
    background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer2.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 18px;
    width: 100%;
    height: 100%;
}
.trainer3{
    background-image:linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer3.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 18px;
    width: 100%;
    height: 100%;
    
}
.trainer4{
    background-image:linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer4.png);
    
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    border-radius: 18px;
    width: 100%;
    height: 100%;
}

.trainer5{
    background-image:linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer5.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  
    border-radius: 18px;
    width: 100%;
    height: 100%;
    
}
.trainer6{
    background-image:linear-gradient(0deg,rgba(0, 0, 0, 0.692),transparent), url(./image/trainer6.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 18px;
    width: 100%;
    height: 100%;
    
}
.tariner-data{
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-start;
    margin-left: 20px;
    margin-bottom: 10px;
}

.tariner-data h4{
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.tariner-data p{
    font-size: 12px;
    color: rgb(158, 154, 154);
}

/* footer  */


.footer{
    border: 1px solid rgb(5, 5, 5);
    background-color: black;
}
.footer-content{
    background-color: rgb(34, 34, 34);
  
    margin-top: 130px;
    
    width: 100%;
    height: 470px;
    border-top: 1px solid  rgb(34, 34, 34);
}
.foot{
   
    width: 80%;
    margin: 0px auto;
   margin-top: 100px;
   
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    justify-items: flex-start;
}

.fitness h1{
    color: rgb(230, 83, 60);
}
.fitness p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-top: 30px;
}
.start{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.start h3{
    color: white;
}
.start p{
    color: rgba(255, 255, 255, 0.5);
}
hr{
    margin: 0px auto;
    margin-top: 100px;
    width: 80%;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    
}
.copy{
   margin-top: 50px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
 
    
    text-align: center;
}
